<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de Países</h1>
      <p class="mb-5">
        Resumen e Información de los países del mundo, incluyendo datos como la
        población, el área, la capital y la moneda. También incluye una lista de
        países por continente y una lista de países por región. Puedes buscar
        países por nombre, capital o región. Además, puedes ver la bandera de
        cada país y su mapa. La aplicación utiliza la API de Rest Countries para
        obtener la información de los países.
      </p>
      <button 
        routerLink="/country"
        type="button"
        class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>