<section class="stats shadow">
    <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{ country().name }}</div>
    <div class="stat-desc text-secondary">{{ country().officialName }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Región</div>
    <div class="stat-value">{{ country().subregion }}</div>
    <div class="stat-desc">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Población</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">Desde {{ currentYear() }}</div>
  </div>
</section>

<section class="diff aspect-[16/9]">
    <div class="diff-item-1" role="img" tabindex="0">
        <img 
            [alt]="country().name" 
            [src]="country().flagSvg" 
        />
    </div>
    <div class="diff-item-2" role="img">
        <img
            class="blur brigtness-75"
            [alt]="country().name"
            [src]="country().flagSvg" 
        />
    </div>
    <div class="diff-resizer"></div>
</section>
