<!-- Componente Reutilizable country-search-input -->
<!-- <country-search-input
    placeholder="Buscar por Capital"
    (value)="onSearch($event)"
/> -->
<country-search-input
    placeholder="Buscar por Capital"
    (value)="query.set($event)"
    [debounceTime]="200"
/>

<!-- Componente Reutilizable country-list -->
<!-- @if(isError()) {
    <div class="alert alert-error my-3">
        <strong>Error:</strong>
        {{ isError() }}
    </div>
}

<country-list
    [countries]="countries()"
/> -->
<country-list
    [countries]="countryResources.value() ?? []"
    [errorMessage]="countryResources.error()"
    [isLoading]="countryResources.isLoading()"
    [isEmpty]="countryResources.value()?.length === 0"
/>
