<nav class="p-4 w-full">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
        <li>
            <a 
                routerLink="by-capital"
                routerLinkActive="btn-primary"
                class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M16.48 14h4.02a2.5 2.5 0 1 0 0-5H6.618a1 1 0 0 1-.894-.553l-.448-.894A1 1 0 0 0 4.382 7H2.517a1 1 0 0 0-.92 1.394l2.143 5a1 1 0 0 0 .92.606h3.863a1 1 0 0 1 .928 1.371L8.55 17.63A1 1 0 0 0 9.477 19h2.042a1 1 0 0 0 .781-.375l3.4-4.25a1 1 0 0 1 .78-.375M9.5 8h4.75L12.3 5.4a1 1 0 0 0-.8-.4H9.618a1 1 0 0 0-.894 1.447z" clip-rule="evenodd"/></svg>
                Por Capital
            </a>
        </li>
        <li>
            <a 
                routerLink="by-country"
                routerLinkActive="btn-primary"
                class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="m8.875.865l-3.75-.75v13.02l3.75.75zm1.25 12.994l3.496-.874A.5.5 0 0 0 14 12.5V.5a.5.5 0 0 0-.621-.485l-3.254.813zM.379 1.015L3.875.14v13.03l-3.254.814A.5.5 0 0 1 0 13.5v-12a.5.5 0 0 1 .379-.485" clip-rule="evenodd"/></svg>
                Por País
            </a>
        </li>
        <li>
            <a 
                routerLink="by-region"
                routerLinkActive="btn-primary"
                class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M2.5.5v13m0-13l9 4.5l-9 4.5" stroke-width="1"/></svg>
                Por Región
            </a>
        </li>
    </ul>
</nav>