<!-- Componente Reutilizable country-search-input -->
<!-- <country-search-input
    placeholder="Buscar por País"
    (value)="onSearch($event)"
/> -->
<country-search-input
    placeholder="Buscar por País"
    (value)="query.set($event)"
/>

<!-- Componente Reutilizable country-list -->
<!-- <country-list/> -->
<country-list
    [countries]="countryResources.value() ?? []"
    [errorMessage]="countryResources.error()"
    [isLoading]="countryResources.isLoading()"
    [isEmpty]="countryResources.value()?.length === 0"
/>
