<!-- Componente Reutilizable country-search-input -->
<!-- <country-search-input
    placeholder="Buscar por País"
    (value)="onSearch($event)"
/> -->
<country-search-input
    placeholder="Buscar por País"
    (value)="query.set($event)"
/>

<!-- Componente Reutilizable country-list -->
<!-- <country-list/> -->
 @if(countryResources.error()) {
    <div class="alert alert-error my-3">
        <strong>Error:</strong>
        {{ countryResources.error() }}
    </div>
}

@if(countryResources.hasValue()) {
    <country-list
        [countries]="countryResources.value()!"
    />
}
